<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ class.name }} Details</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'dashboard/class_detail.css' %}">
    </head>
    <body>
        <div class="class-detail-container">
            <h2>{{ class.name }}</h2>
            <p>{{ class.description }}</p>
            <p>Created on: {{ class.created_at }}</p>
            <h3>Students</h3>
            <a href="{% url 'add_student' class_id=class.id %}" class="button">Add Student</a>
            <ul>
                {% for student in students %}
                    <li>{{ student.first_name }} {{ student.last_name }} ({{ student.email }})</li>
                {% empty %}
                    <li>No students enrolled yet.</li>
                {% endfor %}
            </ul>
            <h3>Quizes</h3>
            <a href="{% url 'create_quiz' class_id=class.id %}" class="button">Create Quiz</a>
            <ul>
                {% for quiz in quizes %}
                <li><a href="{% url 'quiz_detail' class_id=class.id quiz_id=quiz.id %}">{{ quiz.name }}</a></li>
                {% empty %}
                    <li>No quizes made for this class.</li>
                {% endfor %}
            </ul>

        </div>
    </body>
</html>
