<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Class</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/create_class.css' %}" />
</head>

<body>
    <div class="form-container">
        <h2>Create New Class</h2>
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Create Class</button>
        </form>
    </div>
</body>

</html>
