<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Landing Page</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'dashboard/landingpage.css' %}" />
      <link rel="stylesheet" href="{% static 'dashboard/lightmodebutton.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
      <script src="{% static 'script/landingpage.js' %}" defer></script>

</head>
<body>
      <div class="upper-section bordered">
            <div class="logo-wrapper bordered">
                  <img src="{% static 'media/Logo.png' %}" alt="None" class="logo-picture">
                  <span class="logo-text"> Gradly</span>           
            </div>

            <div class="moto-wrapper bordered">
                  <input type="checkbox" id="darkmode-toggle" class="mode-check">
                  <label for="darkmode-toggle" class="mode-toggle"></label>
                  <span class="moto-text">Easiest way to take tests</span>
            </div>
      </div>

      <div class="content-wrapper bordered">
            <div class="form-wrapper bordered">
                  <div class="login-signin-form bordered">
                        <form id="login-form" method="POST" action="{% url 'landingpage' %}" class="formular">
                        {% csrf_token %}
                        <div class="login-form">
                              <input type="hidden" name="form_type" value="login">
                              <span class="form-title"> Login </span>
                              <table>
                                    <tr>
                                          <td>
                                                <input type="text" id="email1" name="email1" class="form-input" placeholder="Email" required> 
                                          </td>
                                    </tr>
                                    <tr>
                                          <td><input type="password" id="password1" name="password1" class="form-input" placeholder="Password" required></td>
                                    </tr>
                                    <tr>
                                          <td>
                                                <button type="submit" class="form-button"> Login</button>
                                          </td>
                                    </tr>      
                              </table>
                              <div class="form-footer bordered">
                                    <div class="divider"></div>
                                    <div class="alternative-login-wrapper">
                                          <span> Or login with: </span>
                                          <div class="alternative-login-pictures">
                                                <div class="alternative-picture-wrapper" data-url="{% url 'dashboard' %}">
                                                <img src="{% static 'media/Google.png' %}" alt="none">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="alternative-create">
                                          <span>Create an account</span>
                                    </div>
                              </div>
                        </div>
                        </form>
                        <form id="signin-form" method="POST" action="{% url 'landingpage' %}" class="formular">
                        {% csrf_token %}
                        <div class="signin-form hide">
                              <input type="hidden" name="form_type" value="signin">
                              <span class="form-title"> Sign up </span>
                              <table>
                                    <tr>
                                          <td>
                                                <input type="text" id="email2" name="email2" class="form-input" placeholder="Email" required> 
                                          </td>
                                    </tr>
                                    <tr>
                                          <td>
                                                <input type="password" id="password2" name="password2" class="form-input" placeholder="Password" required> 
                                          </td>
                                    </tr>
                                    <tr>
                                          <td><input type="password" id="confirmPassword" name="confirmPassword" class="form-input" placeholder="Confirm-password" required></td>
                                    </tr>
                                    <tr>
                                          <td>
                                                <button type="submit" class="form-button"> Sign up </button>
                                          </td>
                                    </tr>      
                              </table>
                              <div class="form-footer bordered">
                                    <div class="divider"></div>
                                    <div class="alternative-login-wrapper">
                                          <span> Or sign up with: </span>
                                          <div class="alternative-login-pictures">
                                                <div class="alternative-picture-wrapper">
                                                <img src="{% static 'media/Google.png' %}" alt="none">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="alternative-create">
                                          <span>I have an account</span>
                                    </div>
                              </div>
                        </div>
                        </form>
                  </div>
            </div>

            <div class="picture-wrapper">
                  <img src="{% static 'media/Classroom.jpg' %}" alt="None" class="classroom-picture">
            </div>
      </div>
</body>
</html>